{% extends 'aplicacion/home.html' %} 

{% block titulo %}
<h1 class="masthead-heading mb-0">Cuentas</h1>
{% endblock titulo %}




{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Cuentas</h2></td>
        <td>
            <a
            href="{% url 'cuentas_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cuenta Comitente</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apertura</th>
            <th>e-mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
{% for z in cuentas_list %}
        <tr>
            <td>{{ z.cuenta_comitente }}</td>
            <td>{{ z.nombre }}</td>
            <td>{{ z.apellido }}</td>
            <td>{{ z.apertura }}</td>
            <td>{{ z.email }}</td>
            <td>
            <a
            href="{% url 'cuentas_update' z.id %}"
            class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
          </a>
          <a
            href="{% url 'cuentas_delete' z.id %}"
            class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-trash fa-sm" title="Delete Record"></i> 
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>




{% endblock contenido %}


{% block contenidop %}



{% endblock contenidop %}