
{% extends 'aplicacion/home.html' %} 

{% block titulo %}

</form>
<h1 class="masthead-heading mb-0">Instrumentos</h1>
<form action="{% url 'buscar_instrumento' %}" method="GET">
    {% csrf_token %}

    <input type="text" name="q" placeholder="Buscar descripción..." value="{{ query }}">
    <button type="submit">Buscar</button>
</form>



{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Instrumentos</h2></td>
        
        <td>
            <a
            href="{% url 'instrumentos_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>   
 
    </tr>

</table>
    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Ticker</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        
   
 
        
{% for i in instrumentos %}
        <tr>
            <td>{{ i.tipo }}</td>
            <td>{{ i.ticker }}</td>
            <td>{{ i.descripcion }}</td>
            <td>{{ i.precio }}</td>
            <td>
                <a
                
                href="{% url 'instrumentos_update' i.id  %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
              </a>
              <a
                href="{% url 'instrumentos_delete' i.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-trash fa-sm" title="Delete Record"></i> 
                       
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>


{% endblock contenido %}


{% block contenidop %}



{% endblock contenidop %}