
{% extends 'aplicacion/home.html' %} 

{% block titulo %}
<h1 class="masthead-heading mb-0">Tipos</h1>
{% endblock titulo %}




{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Tipos</h2></td>
        <td>
            <a
            href="{% url 'tipos_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
    </tr>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Renta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

{% for x in tipos_list %}
        <tr>
            <td>{{ x.tipo }}</td>
            <td>{{ x.renta }}</td>
            <td>
                <a
                href="{% url 'tipos_update' x.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
              </a>
              <a
                href="{% url 'tipos_delete' x.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-trash fa-sm" title="Delete Record"></i> 
                       
            </td>           
            
          </tr>
{% endfor %}
    </tbody>
</table>


{% endblock contenido %}


{% block contenidop %}



{% endblock contenidop %}